.body {
    /* background: linear-gradient(to right, #1d97dd, #bdbccc); */
    background: url('C:\Users\BoopathiSelvaraj\Desktop\CIDC\REACT\attendance_mamangement\src\assets\tm-2.jpg') no-repeat center center fixed; /* {{ edit_1 }} */
    background-size: cover; 
}

.login {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2{
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
